html, body {
    margin: 0;
    background-color: azure;
  }
  .main {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    width: 600px;
    text-align: center;
  }
  .pure-form {
    margin-top: 200px;
  }
  p {
    font-size: 100px;
  }
  label {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  embed {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  